
body {
  background: #FFF;
  text-align: center;
  align-items: center;
}

img {
  padding: 64px;

}

h1 {
  color: #3F3D56;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 32px;
  font-style: normal;
  line-height: normal;

  margin-top: 32px;
}

h1 span {
  color: #EE24FF;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}
p {
  color: #828282;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  margin-top: 16px;
  margin-bottom: 32px;
}

p1 strong {
  color: #3F3D56;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

p2 {
  color: #828282;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  
}


#line {
width: 391px;
height: 2 px;
margin: 0px auto 8px;
border: 1px solid #ECEFF2;
margin-top: 64px;
}


strong + strong {
  margin-left: 42px;
}

strong a {
  color: #3F3D56;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;

/* Remover sublinhado dos links */
  text-decoration: none; 
}

/* Adicionar sublinhado ao passar o mouse sobre os links */
strong a:hover {
  text-decoration: underline; 
}

svg {
  margin-top: 40.83px;
  width: 1024px;
  height: 104px;
  
}

